span h1 {
	margin-bottom: 0px;
}

img {
  width: 200px;
}

span {
  display: inline-block;
}

.details {
  text-align:center;
  vertical-align:center;
}

.chosen {
  color: gray;
}

.tempDisplay {
padding-bottom: 0px;
}

.attr {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
  	font-family: 'Roboto', sans-serif;

}

.temp {
  font-size: 7em;
  font-family: 'Roboto', sans-serif;
}

#deg{
  font-size: 9em;
  font-family: 'Roboto', sans-serif; 
  
}

#place {
  font-family: 'Damion', cursive;
  font-size: 5em;
}



